<%- include ('../template/aheader') %>

    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="/admin">
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/service" id="active--link">
                        <span class="icon icon-2"><i class="ri-git-repository-line"></i></span>
                        <span class="sidebar--item">Medicine</span>
                    </a>
                </li>
                <li>
                    <a href="/booking">
                        <span class="icon icon-2"><i class="ri-calendar-2-line"></i></span>
                        <span class="sidebar--item">Orders</span>
                    </a>
                </li>
                <li>
                    <a href="/user">
                        <span class="icon icon-4"><i class="ri-user-line"></i></span>
                        <span class="sidebar--item">User</span>
                    </a>
                </li>
                <li>
                    <a href="/shopkeeper">
                        <span class="icon icon-7"><i class="ri-user-2-line"></i></span>
                        <span class="sidebar--item" style="white-space: nowrap;">Shopkeeper</span>
                    </a>
                </li>
                <li>
                    <a href="/worker">
                        <span class="icon icon-3"><i class="ri-user-2-line"></i></span>
                        <span class="sidebar--item" style="white-space: nowrap;">Delivery Man</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon icon-5"><i class="ri-line-chart-line"></i></span>
                        <span class="sidebar--item">Booking</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-6"><i class="ri-customer-service-line"></i></span>
                        <span class="sidebar--item">Support</span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar--bottom-items">

                <li>
                    <a href="/adminlogout">
                        <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                        <span class="sidebar--item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main--content">
            <div class="service">
                <div class="title">
                    <h2 class="section--title">Add Medicine</h2>
                </div>
                <div class="container">
                    <form action="/add-service" method="post">
                        <div class="mb-3 col-12">
                            <div class="md-3 row">
                                <div class="md-3 col">
                                    <label for="item" class="col-form-label">Medicine Name</label>
                                    <div>
                                        <div>
                                            <input type="text" class="form-control" placeholder="Enter Medicine Title"
                                                name="mediname">
                                        </div>
                                    </div>
                                </div>
                                <div class="md-3 col">
                                    <label for="quantity" class="col-form-label">Type of Medicine</label>
                                    <div>
                                        <select class="form-select" id="item" aria-label="Default select example">
                                            <option selected>Select Medicine Type:</option>
                                            <option value="Tablet">Tablet</option>
                                            <option value="Capsule">Capsule</option>
                                            <option value="Suppositorie">Suppositorie</option>
                                            <option value="Drop">Drop</option>
                                            <option value="Inhaler">Inhaler</option>
                                            <option value="Injection">Injection</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 col-12">
                            <div class="md-3 row">
                                <div class="md-3 col">
                                    <label for="item" class="col-form-label">Strength</label>
                                    <div>
                                        <div>
                                            <input type="text" class="form-control" placeholder="100mg"
                                                name="medistrength">
                                        </div>
                                    </div>
                                </div>
                                <div class="md-3 col">
                                    <label for="quantity" class="col-form-label">Generic Name</label>
                                    <div>
                                        <div>
                                            <input type="text" class="form-control" placeholder="Enter Generic Name"
                                                name="medigeneric">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="price" class="form-label">Company Name</label>
                            <input type="text" class="form-control" placeholder="Enter Company Name" name="medicompany">
                        </div>                        
                        <!-- button -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="recent--worker">
                <div class="title">
                    <h2 class="section--title">My Service List</h2>
                    <button class="add"><i class="ri-add-line"></i>Add Service</button>
                </div>
                <div class="table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Details</th>
                                <th>Date in</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allService.map(service=>{ %>
                                <tr>
                                    <th scope="row">
                                        <%= service.stitle%>
                                    </th>
                                    <td>
                                        <%= service.items%> also <%= service.details%>
                                    </td>
                                    <td>
                                        <%= service.fdate%>
                                    </td>
                                    <td>
                                        <%= service.status%>
                                    </td>
                                    <td>
                                        <%= service.price%> BDT
                                    </td>
                                    <td><span><i class="ri-edit-line edit"></i><i
                                                class="ri-delete-bin-line delete"></i></span></td>

                                </tr>
                                <% }) %>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/service.js"></script>

    <script>
         
    </script>